

@{
    ViewBag.Title = "فهرست گروهها";
    ViewBag.TitleSection = "فهرست گروه های محصول";
}



    <p>
        <a onclick="create()" class="btn btn-success">افزودن سرگروه جدید</a>

    </p>

    <div id="myListGroup">
        @Html.Action("ListGroup")
    </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="myModalBody" class="modal-body">


            </div>

        </div>
    </div>
</div>
<!--EndModal-->
@section Scripts{

    <script>

        function create(id) {
            $.get('/admin/ProductGroups/Create/' + id, function (res) {
                $('#myModal').modal();
                $('#myModalTitle').html('افزودن  گروه');
                $('#myModalBody').html(res);
            });
        }



        function Edit(id) {
            $.get('/admin/productgroups/Edit/' + id, function (res) {
                $('#myModal').modal();
                $('#myModalTitle').html('ویرایش  گروه');
                $('#myModalBody').html(res);

            });
        }

        function deleteGroup(id) {
            if (confirm("Are You Sure?")) {
                $.get('/admin/productgroups/Delete/' + id, function () {
                    $('#group_' + id).hide('slow');

                });
            }
        }

    function success() {
        debugger;
            $('#myModal').modal('hide');
        }
    </script>

}
