@model IEnumerable<ECommerce.DomainModel.Product>

    <div class="side-item">

        @foreach (var item in Model)
        {
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="/Images/ProductImages/Thumb/@item.ImageName" alt="@item.ProductTitle" title="@item.ProductTitle" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">@item.ProductTitle</a></h4>
                    <p class="price"><span class="price-new">@item.Price تومان</span> <span class="price-old">122000 تومان</span> <span class="saving">-10%</span></p>
                </div>
            </div>
        }


    </div>